/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

@media screen and (min-width: 500px) {

}
  
@media screen and (min-width: 800px) {

}