/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e7e7db;
}

button {
    margin: 0 auto;
}

/* Custom button styling */
.buttonStyle {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #bd3311 5%, #c46013 100%);
	background-color:#bd3311;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.buttonStyle:hover {
	background:linear-gradient(to bottom, #c46013 5%, #bd3311 100%);
	background-color:#c46013;
}

.buttonStyle:active {
	position:relative;
	top:1px;
}


.container, footer {
    max-width: 500px;
    margin: 0 auto;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #bd3311;
}

img {
    width:40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid black;
}

form {
    display: flex; 
    flex-direction: column-reverse;
}

label {
    font-size: 18px;
}

main {
    margin-bottom: 50px;
}

footer {
    position: relative;
    display: block;
    bottom: 0;
    margin: 0 auto;
}

footer > p {
    font-size: 14px;
}

h1, h2 {
    text-align: center;
}

.radio-answers {
    margin-top: 10px;
}



.correct {
    color: green;
}

.incorrect {
    color: red;
}

#start-quiz-button {
    margin-top: 200px;
    margin-bottom: 50px;
}

#submit-quiz-button {
    margin-top: 50px;
}

@media screen and (min-width: 500px) {

    form {
        flex-direction: row;
    }
}
  
@media screen and (min-width: 800px) {

}